//Colors
$primary: #FFC045;
$secondary: #FFE3AC;
$black: rgb(33, 37, 41);
$white: #F2F2F2;
$gray-medium: #737373;

//Font sizes

//Screen sizes
$sm: #{"only screen and (min-width: 576px)"};
$md: #{"only screen and (min-width: 768px)"};
$lg: #{"only screen and (min-width: 992px)"};
$xl: #{"only screen and (min-width: 1200px)"};
